.container {
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.logo {
  float: left;
}
nav {
  float: right;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  display: inline-block;
}