{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
	Log in
{% endblock %}

{% block content %}

	<div class="container">
		<br>
		<h1 class=" text-center">
			Login or Create a New Account
		</h1>
		<div class="row" style="justify-content: center">
			<div class="col-12 col-sm-12 col-md-12 col-lg-6 bg-light">
				<div>
					<br>
					<form method="post">
						{% csrf_token %}
						<p>{{ form | crispy }}</p>
						<button type='submit' class="btn btn-secondary">Login</button>
                        <a href="{% url 'register' %}" class="btn btn-secondary">Create New User</a>
					</form>
					<br>
				</div>
			</div>
		</div>
		<br>
	</div>

{% endblock %}
