<div class="navbar-light d-flex justify-content-between"
     style="background-image: url('https://cdn.pixabay.com/photo/2016/02/05/10/13/background-1180666_960_720.jpg');
        background-size: 100%">
    <div class="d-flex">
        <a class="nav-link text-dark" href="{% url 'new_note' %}">
            <span class="material-icons" style="font-size: 48px;">note_add</span></a>
        <a class="nav-link text-dark" href="{% url 'about' %}">
            <span class="material-icons" style="font-size: 48px;">live_help</span></a>
    </div>
    <div>
        <a class="nav-link text-dark " href="{% url 'logout' %}">
            <span class="material-icons" style="font-size: 48px;">logout</span></a>
    </div>
</div>

